$bgColor: #3f4241;

.Foot {
  width: 100%;
  margin-top: 2rem;

  background-color: $bgColor;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @media screen and (max-width: 650px) {
    flex-direction: column-reverse;
  }
}

.Link {
  text-decoration: none;
  color: #fff;

  &:hover {
    text-decoration: underline;
  }
}