.Foot {
  bottom: 0;
  width: 100%;
  margin-top: 2rem;

  background-color: rgb(161, 191, 181);

  display: flex;
  align-items: center;
  justify-content: center;
}

.Link{
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}