.head {
  height: 18vh;
  min-height: 45px;
  max-height: 200px;
  
  background: url(../Assets/Backgrounds/LigaZMG_Logo_04_PasekMailing22.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #3f4241;
}