.head {
  height: 18vh;
  min-height: 45px;
  max-height: 200px;
  
  background: url(../Assets/Backgrounds/LigaZMG_Logo_04_PasekMailing22.png);
  background-size: cover;
  background-position: left center;
}